* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.contact-main { /*left-bar*/
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
  width: 424px;
  height: 828px;
  background: #FFFFFF;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  border-right: 1px solid blue;
}
.contact-main > div:nth-child(1) { /* Contact div */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  width: 424px;
  height: 820px;
  /* Inside auto layout */
  flex: none;
  flex-grow: 0;
}
.contact-main > div:nth-child(1) > div:nth-child(1) { /* contatc users*/
  width: 100%;
  height: 382px;
  overflow: scroll;
}
.contact-main > div:nth-child(1) > div:nth-child(1) > a {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
  width: 424px;
  height: 72px;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  border: 1px solid red;
}
.contact-main > div:nth-child(1) > div:nth-child(1) > a > div:nth-child(1) { /*right div*/
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 12px;
  border: 1px solid red;
  width: 304px;
  height: 56px;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
.contact-main > div:nth-child(1) > div:nth-child(1) > a > div:nth-child(1) > div:nth-child(1) { /*icon */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 12px;
  width: 79px;
  height: 56px;
  border: 1px solid blue;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
.contact-main > div:nth-child(1) > div:nth-child(1) > a > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  width: 66px;
  height: 56px;
  border: 1px solid red;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
.contact-main > div:nth-child(1) > div:nth-child(1) > a > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > p:nth-child(1) {
  width: 66px;
  height: 12px;
  /* Body/Caption 1/Regular */
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  /* identical to box height, or 120% */
  /* Neutral/200 */
  color: #B7B7B7;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
.contact-main > div:nth-child(1) > div:nth-child(1) > a > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) {
  width: 44px;
  height: 44px;
  border-radius: 25px;
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}
.contact-main > div:nth-child(1) > div:nth-child(1) > a > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) {
  width: 1px;
  height: 56px;
  /* Neutral/0 */
  background: #EFEFEF;
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}
.contact-main > div:nth-child(1) > div:nth-child(1) > a > div:nth-child(1) > div:nth-child(2) { /* image and name*/
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;
  width: 213px;
  height: 56px;
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}
.contact-main > div:nth-child(1) > div:nth-child(1) > a > div:nth-child(1) > div:nth-child(2) > img:nth-child(1) {
  width: 56px;
  height: 56px;
  border-radius: 100px;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
.contact-main > div:nth-child(1) > div:nth-child(1) > a > div:nth-child(1) > div:nth-child(2) > p:nth-child(2) {
  width: 149px;
  height: 24px;
  /* Body/Subtitle 2/Medium */
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  /* Neutral/700 */
  color: #383838;
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}
.contact-main > div:nth-child(1) > div:nth-child(1) > a > div:nth-child(2) {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 12px;
  width: 83px;
  height: 56px;
  border: 1px solid red;
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}
.contact-main > div:nth-child(1) > div:nth-child(1) > a > div:nth-child(2) > div:nth-child(1) {
  width: 1px;
  height: 56px;
  /* Neutral/0 */
  background: #EFEFEF;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
.contact-main > div:nth-child(1) > div:nth-child(1) > a > div:nth-child(2) > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  width: 70px;
  height: 56px;
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}
.contact-main > div:nth-child(1) > div:nth-child(1) > a > div:nth-child(2) > div:nth-child(2) > p:nth-child(1) {
  width: 70px;
  height: 12px;
  /* Body/Caption 1/Regular */
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  /* identical to box height, or 120% */
  /* Neutral/200 */
  color: #B7B7B7;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
.contact-main > div:nth-child(1) > div:nth-child(1) > a > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) {
  width: 44px;
  height: 44px;
  border-radius: 25px;
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}
.contact-main > div:nth-child(1) > div:nth-child(2) { /* invite div */
  width: 100%;
  height: 56px;
  border: 1px solid blue;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px;
  gap: 10px;
  /* Solid/White */
  background: #FFFFFF;
  /* Inside auto layout */
  flex: none;
  flex-grow: 0;
}
.contact-main > div:nth-child(1) > div:nth-child(2) > p {
  width: 200px;
  height: 24px;
  border: 1px solid blue;
  /* Body/Subtitle 2/Medium */
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  /* Neutral/300 */
  color: #959595;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
.contact-main > div:nth-child(1) > div:nth-child(3) { /* contac doesnt use app invite*/
  width: 100%;
  height: 382px;
  overflow: scroll;
}
.contact-main > div:nth-child(1) > div:nth-child(3) > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  border: 1px solid red;
  width: 424px;
  height: 72px;
  /* Inside auto layout */
  flex: none;
  flex-grow: 0;
}
.contact-main > div:nth-child(1) > div:nth-child(3) > div > div:nth-child(1) {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 16px;
  width: 227px;
  height: 56px;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
.contact-main > div:nth-child(1) > div:nth-child(3) > div > div:nth-child(1) > img {
  width: 56px;
  height: 56px;
  border-radius: 100%;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
.contact-main > div:nth-child(1) > div:nth-child(3) > div > div:nth-child(1) > p {
  width: 155px;
  height: 24px;
  /* Body/Subtitle 2/Medium */
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  /* Neutral/700 */
  color: #383838;
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}
.contact-main > div:nth-child(1) > div:nth-child(3) > div > button:nth-child(2) {
  width: 42px;
  height: 24px;
  /* Body/Subtitle 2/Regular */
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  /* Primary/600* */
  color: #1A9CFF;
  border: none;
  background: transparent;
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}
.contact-main > div:nth-child(1) > div:nth-child(3) > div > button:hover {
  cursor: pointer;
}/*# sourceMappingURL=Contact.css.map */