html, body, #root {
  box-sizing: border-box;
  height: 100%;
  padding: 0px;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.main {
  width: 1846px;
  height: 968px;
  position: relative;
  left: 0px;
  top: 0px;
  padding: 0px;
  background: #F2F1F6;
}
.main > div:nth-child(1) { /* tab-bar-menu */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 16px;
  gap: 20px;
  z-index: 2;
  position: absolute;
  width: 424px;
  height: 80px;
  left: 0px;
  top: 888px;
  background: #FFFFFF;
  /* Neutral/100 */
  border-top: 1px solid #D1D1D1;
}
.main > div:nth-child(1) > a {
  position: relative;
  text-decoration: none;
}
.main > div:nth-child(1) > a > i {
  color: #7C7C7C;
}
.main > div:nth-child(1) > a > span {
  color: #7C7C7C;
}
.main > div:nth-child(1) > a:nth-child(1) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  width: 64px;
  height: 64px;
  /* Primary/50 */
  text-decoration: none;
  border-radius: 16px;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
.main > div:nth-child(1) > a:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  width: 64px;
  height: 64px;
  /* Primary/50 */
  border-radius: 16px;
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}
.main > div:nth-child(1) > a:nth-child(3) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  width: 64px;
  height: 64px;
  /* Primary/50 */
  border-radius: 16px;
  text-decoration: none;
  /* Inside auto layout */
  flex: none;
  order: 2;
  flex-grow: 0;
}
.main > div:nth-child(1) > a:nth-child(4) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  width: 64px;
  height: 64px;
  /* Primary/50 */
  border-radius: 16px;
  /* Inside auto layout */
  flex: none;
  order: 3;
  flex-grow: 0;
}
.main > div:nth-child(1) > a:nth-child(5) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  width: 64px;
  height: 64px;
  /* Primary/50 */
  border-radius: 16px;
  /* Inside auto layout */
  flex: none;
  order: 4;
  flex-grow: 0;
}
.main > div:nth-child(2) { /*left bar*/
  height: 888px;
  width: 424px;
  position: relative;
  border-right: 1px solid #ECECEC;
  z-index: 1;
}
.main > div:nth-child(3) {
  background: url("../../../../Downloads/wp_new.jpeg");
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
}
.main > div:nth-child(4) {
  box-sizing: border-box;
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  width: 1420px;
  height: 60px;
  left: 426px;
  top: 0px;
  /* Solid/White */
  /* Neutral/10 */
  border-bottom: 1px solid #ECECEC;
}
.main > div:nth-child(5) {
  display: flex;
  width: 866px;
  height: 835px;
  border: 1px solid blue;
  position: absolute;
  top: 60px;
  left: 708px;
}
.main > div:nth-child(6) { /*message input*/
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
  position: absolute;
  width: 766px;
  height: 56px;
  left: 708px;
  top: 896px;
}
.main > div:nth-child(6) > div:nth-child(1) {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 16px;
  gap: 16px;
  width: 694px;
  min-height: 56px;
  max-height: 200px;
  outline: none;
  /* Solid/White */
  background: #FFFFFF;
  border-radius: 12px;
  position: relative;
  /* Inside auto layout */
}
.main > div:nth-child(6) > div:nth-child(1) > button:hover {
  cursor: pointer;
}
.main > div:nth-child(6) > div:nth-child(1) > button:nth-child(1) {
  width: 24px;
  height: 24px;
  border: none;
  background-color: transparent;
  border: 1px solid red;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  min-height: 52px;
  max-height: 200px;
  box-sizing: content-box;
}
.main > div:nth-child(6) > div:nth-child(1) > button:nth-child(1) > span {
  color: #959595;
}
.main > div:nth-child(6) > div:nth-child(1) > textarea:nth-child(2) {
  width: 572.27px;
  min-height: 52px;
  max-height: 180px;
  resize: none;
  overflow-y: scroll;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  border: none;
  display: flex;
  box-sizing: border-box;
  /* identical to box height, or 125% */
  /* Neutral/300 */
  color: #959595;
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 1;
}
.main > div:nth-child(6) > div:nth-child(1) > button:nth-child(3) {
  width: 24px;
  height: 24px;
  border: none;
  background-color: transparent;
  transform: rotate(38.53deg);
  /* Inside auto layout */
  flex: none;
  order: 2;
  flex-grow: 0;
}
.main > div:nth-child(6) > div:nth-child(1) > button:nth-child(3) > span {
  color: #959595;
}
.main > div:nth-child(6) > div:nth-child(2):hover {
  cursor: pointer;
}
.main > div:nth-child(6) > div:nth-child(2):hover > button:hover {
  cursor: pointer;
}
.main > div:nth-child(6) > div:nth-child(2) {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px;
  gap: 10px;
  width: 56px;
  height: 56px;
  /* Primary/950 */
  background: #356CD2;
  border-radius: 52px;
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}
.main > div:nth-child(6) > div:nth-child(2) > button:nth-child(1) {
  background-color: transparent;
  border: none;
  width: 24px;
  height: 24px;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  position: relative;
}
.main > div:nth-child(6) > div:nth-child(2) > button:nth-child(1) > span {
  /* Solid/White */
  color: #FFFFFF;
}/*# sourceMappingURL=Homepage.css.map */