html, body, #root{
    box-sizing: border-box;
    height: 100%;
    // width: hug(1440px);
    padding: 0px;
    
    // border: 1px solid red;
    
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    

}

.main{
    width: 1846px;
    height:968px;
    position: relative;
    display: flex;
    // flex-direction: column;
    background: #F2F1F6;
    &>div:nth-child(1){ /* left bar */
        width: 424px;
        height: 968px;
        // border: 1px solid red;  
        position: relative;  
        z-index: 1;
        background: #FFFFFF;
        &>div:nth-child(1){  /* tab-bar-menu */
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 8px 16px;
            gap: 20px;
            z-index: 2;
            position: absolute;
            width: 424px;
            height: 80px;
            left: 0px;
            top: 888px;
            // border: 1px solid red;
            background: #FFFFFF;
            
            /* Neutral/100 */
            border-top: 1px solid #D1D1D1;
        
            &>a{
                position: relative;
                text-decoration: none;
                &>i{
                    color:#7C7C7C;
                }
                &>span{
                    color:#7C7C7C;
                }
            }   

            &>a:nth-child(1){
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 0px;
                
                width: 64px;
                height: 64px;
                
                /* Primary/50 */
                text-decoration: none;
                border-radius: 16px;
                
                /* Inside auto layout */
                flex: none;
                order: 0;
                flex-grow: 0;    

            }   
            &>a:nth-child(2){
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 0px;
                
                width: 64px;
                height: 64px;
                
                /* Primary/50 */
                border-radius: 16px;
                
                /* Inside auto layout */
                flex: none;
                order: 1;
                flex-grow: 0;            
            }  
            &>a:nth-child(3){
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 0px;
                
                width: 64px;
                height: 64px;
                
                /* Primary/50 */
                border-radius: 16px;
                text-decoration: none;
                /* Inside auto layout */
                flex: none;
                order: 2;
                flex-grow: 0;            
            } 
            &>a:nth-child(4){
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 0px;
                
                width: 64px;
                height: 64px;
                
                /* Primary/50 */
                border-radius: 16px;
                
                /* Inside auto layout */
                flex: none;
                order: 3;
                flex-grow: 0;            
            } 
            &>a:nth-child(5){
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 0px;
                
                width: 64px;
                height: 64px;
                
                /* Primary/50 */
                border-radius: 16px;
                
                /* Inside auto layout */
                flex: none;
                order: 4;
                flex-grow: 0;            
            }                                                                                             
        }
        &>div:nth-child(2){ /* searchbar */
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            padding: 12px 75px 8px 16px;
            gap: 16px;
            width: 100%;
            height: 60px;
            z-index: 5;

            /* Inside auto layout */
            flex: none;
            order: 0;
            flex-grow: 0;
            &>div:nth-child(1){   /* menu-icon */               
                width: 40px;
                height: 40px;
                
                border-radius: 100px;
                
                /* Inside auto layout */
                flex: none;
                order: 0;
                flex-grow: 0;
                // border: 1px solid red;
                position: relative;
                &>div:nth-child(1){ /*menu-icon2*/
                    position: absolute;
                    width: 30px;
                    height: 40px;
                    left: 8px;
                    // top: 8px;
                    // border: 1px solid red;             
                    &>i{                     /*icon*/
                        position: absolute;
                        left: 14.34%;
                        right: 2.34%;
                        top: 12.83%;
                        bottom: 24.83%;
                        color: #707991;
                    }
                }
            }
            &>div:nth-child(2){  /* frame-search*/
                display: flex;
                flex-direction: row;
                align-items: center;
                // padding: 8px 16px;
                gap: 30px;               
                width: 324px;
                height: 38px;   
                background: #F5F5F5;
                border-radius: 32px; 
                flex: none;
                order: 1;
                flex-grow: 0;
                border: 1px solid green;
                position: relative;
                &>div:nth-child(1){
                    // border: 1px solid red;
                    width: 34px;
                    height: 38px;  
                    flex: none;
                    order: 0;
                    flex-grow: 0; 
                    position: absolute;
                    left: 15px;
                    &>i:nth-child(1){
                        position: absolute;
                        left: 20.14%;
                        right: 9.38%;
                        top: 20.14%;
                        bottom: 9.38%;
                        color: #707991;  
                        -webkit-text-stroke: 0.5px white;                        
                    }                  
                }  
                &>input:nth-child(2){
                    width: 324px;
                    height: 38px;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 24px;
                    text-align: left;
                    background-color: #F5F5F5;
                    padding-left: 50px;
                    padding-right: 10px;
                    flex: none;
                    order: 1;
                    flex-grow: 0;   
                    // border: none
                    border: 1px solid red;
                    border-radius: 32px;
                }     
                &>input:focus{
                    outline: None;
                }                                     
            }
            &>div:nth-child(3){ /* left bar menu*/
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding: 16px;
                gap: 12px;
                z-index: 1;
                position: absolute;
                width: 218px;
                height: 164px;
                left: 16px;
                top: 60px;
                /* Solid/White */
                background: #FFFFFF;
                box-shadow: 2px 4px 40px rgba(0, 0, 0, 0.2);
                border-radius: 16px;
                &>button:hover{
                    background-color: #e2e6eb;
                    border-radius: 8px;
                }
                &>button{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    padding: 0px;
                    gap: 12px;
                    border: none;
                    background-color: transparent;
                    width: 129px;
                    height: 24px;
                    /* Inside auto layout */
                    flex: none;
                    order: 0;
                    flex-grow: 0;
                    &>span{
    
                        width: 20px;
                        height: 20px;
                        
                        
                        /* Inside auto layout */
                        display: flex;
                        align-items: center;
                        flex: none;
                        order: 0;
                        flex-grow: 0;                 
                    }                
                }
                           
            }
        }
        &>div:nth-child(3){ /*left bar*/
            // border: 1px solid orange;
            height: 828px;
            width: 424px;
            position: absolute;
            border-right: 1px solid #ECECEC;
            border: 1px solid red;
        //    top: 10px;
            // z-index: 1;
        }
    }
    &>div:nth-child(2){   /* middle area */
        position: absolute;

        background: url('../../../../Downloads/Rectangle.png');
        // z-index: 1;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0px;
        top: 0px;        
    }
    &>div:nth-child(3){  /* right area */
        width: 1420px;
        height: 100%;

        &>div:nth-child(1){
            box-sizing: border-box;
            /* Auto layout */
            display: flex;
            flex-direction: row;
            align-items: center;
            position: absolute;
            // width: 100%;
            height: 60px;
            top: 0px;
            border: 1px solid red;
            /* Solid/White */
            
            /* Neutral/10 */
            border-bottom: 1px solid #ECECEC;
        }
        &>div:nth-child(2){
            display: flex;
            width: 866px;
            height: 835px;
            border: 1px solid blue;
            position: absolute;
            top: 60px;
            left: 708px;
        }
        &>div:nth-child(3){ /*message input*/
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            padding: 0px;
            gap: 16px;
            
            position: absolute;
            width: 766px;
            height: 56px;
            left: 708px;
            top: 896px;  
            &>div:nth-child(1){
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 8px 16px;
                gap: 16px;
                width: 694px;
                min-height: 56px;
                max-height: 200px;
                outline: none;
                /* Solid/White */
                background: #FFFFFF;
                border-radius: 12px;
                position: relative;
                /* Inside auto layout */
                // flex: none;
                // order: 0;
                // flex-grow: 0;
                &>button:hover{
                    cursor: pointer;
                }
                &>button:nth-child(1){
                    width: 24px;
                    height: 24px;
                    border: none;
                    background-color: transparent;
                    border: 1px solid red;
                    /* Inside auto layout */
                    flex: none;
                    order: 0;
                    flex-grow: 0;  
                    min-height: 52px;
                    max-height: 200px;
                    box-sizing: content-box;
                    &>span{
                        color: #959595;;
                    }             
                }  
                &>textarea:nth-child(2){
                    width: 572.27px;
                    min-height: 52px;
                    max-height: 180px;
                    resize:none;
                    overflow-y: scroll;
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 20px;
                    border: none;
                    display: flex;
                    box-sizing: border-box;
                    // padding-left: 10px;
                    // padding-right: 10px;
                    // padding-top: 10px;
                    /* identical to box height, or 125% */
                    
                    /* Neutral/300 */
                    color: #959595;
                    
                    
                    /* Inside auto layout */
                    flex: none;
                    order: 1;
                    flex-grow: 1;                
                } 
                &>button:nth-child(3){
                    width: 24px;
                    height: 24px;
                    border: none;
                    background-color: transparent;
                    transform: rotate(38.53deg);
                    
                    /* Inside auto layout */
                    flex: none;
                    order: 2;
                    flex-grow: 0;   
                    &>span{
                        color:#959595;
                    }             
                }         
            }  
            &>div:nth-child(2):hover{
                cursor: pointer;
                &>button:hover{
                    cursor: pointer;
                }
            }    
            &>div:nth-child(2){
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                padding: 16px;
                gap: 10px;
                
                width: 56px;
                height: 56px;
                
                /* Primary/950 */
                background: #356CD2;
                border-radius: 52px;
                
                /* Inside auto layout */
                flex: none;
                order: 1;
                flex-grow: 0;
                &>button:nth-child(1){
                    background-color: transparent;
                    border: none;
                    width: 24px;
                    height: 24px;
                    
                    
                    /* Inside auto layout */
                    flex: none;
                    order: 0;
                    flex-grow: 0;
                    position: relative;
                    // border: 1px solid red;
                    &>span{

                        // position: absolute;
                        // left: 20.83%;
                        // right: 20.83%;
                        // top: 8.33%;
                        // bottom: 12.5%;
                        
                        /* Solid/White */
                        color: #FFFFFF;           
                    }                
                }        
            }
        }
    }
}    

