*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.top-bar{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 16px;
    gap: 8px;        
    position: absolute;
    border: 1px solid blue;
    width: 100%;
    height: 100%;
    gap: 1070px;
    top: 0px;       
    background: #FFFFFF;
    border-bottom: 1px solid #EFEFEF;              
    &>a:nth-child(1){ /* other users */
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        gap: 16px;
        
        width: 192px;
        height: 42px;
        
        border: 1px solid red;
        /* Inside auto layout */
        flex: none;
        order: 0;
        flex-grow: 0;       
        &>img:nth-child(1){
            border: 1px solid red;
            width: 40px;
            height: 40px;           
            // background: url(.png);
            border-radius: 100px;
            flex: none;
            order: 0;
            flex-grow: 0;            
        }      
        &>div:nth-child(2){
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0px;
            gap: 4px;
            
            width: 136px;
            height: 42px;
            
            
            /* Inside auto layout */
            flex: none;
            order: 1;
            flex-grow: 0;
            &>div:nth-child(1){
                border: 1px solid red;
            }           
        }            
    }
    &>a:nth-child(2){
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        padding: 0px;
        gap: 8px;
        
        width: 136px;
        height: 40px;
        
        border: 1px solid blue;
        /* Inside auto layout */
        flex: none;
        order: 1;
        flex-grow: 0;  
  
        &>div:nth-child(2){  /* search messages*/
            width: 40px;
            height: 40px;            
            border-radius: 100px;
            flex: none;
            order: 1;
            flex-grow: 0;
            position: relative;
            // border: 1px solid red;
            &>div:nth-child(1){
                position: absolute;
                left: 20%;
                right: 20%;
                top: 20%;
                bottom: 20%;
                // border: 1px solid red;
                &>i{
                    position: absolute;
                    left: 10.42%;
                    right: 12.51%;
                    top: 10.42%;
                    bottom: 12.5%;
                    color: #707991;      
                    -webkit-text-stroke: 0.5px white;                
                }                
            }
        }
        &>div:nth-child(3){  /* call icon */
            width: 40px;
            height: 40px;           
            border-radius: 100px;
            flex: none;
            order: 2;
            flex-grow: 0;  
            // border: 1px solid red;
            position: relative;
            &>div:nth-child(1){
                position: absolute;
                left: 20%;
                right: 20%;
                top: 25%;
                bottom: 20%;
                // border: 1px solid red;
                &>i{
                    position: absolute;
                    left: 22.54%;
                    right: 19.13%;
                    top: 8.33%;
                    bottom: 8.33%;
                    color: #707991;
                }              
            }          
        }  
        &>div:nth-child(4){ /* more icon */
            width: 40px;
            height: 40px;           
            border-radius: 100px;
            flex: none;
            order: 3;
            flex-grow: 0;  
            position: relative;
            // border: 1px solid red;
            &>div:nth-child(1){
                // border: 1px solid red;
                position: absolute;
                left: 20%;
                right: 20%;
                top: 20%;
                bottom: 20%;
                &>i{
                    position: absolute;
                    left: 41.67%;
                    right: 41.67%;
                    top: 16.67%;
                    bottom: 16.67%;      
                    color: #707991;              
                }                
            }          
        }
    }  
    &>div:nth-child(3){
        /* Auto layout */
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 16px;
        gap: 16px;

        position: absolute;
        width: 238px;
        height: 216px;
        left: 1170px;
        top: 68px;

        /* Solid/White */
        background: #FFFFFF;
        box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.25);
        border-radius: 16px;  
        &>button:hover{
            background-color: blue;
        } 
        &>button:nth-child(1){
            /* Auto layout */
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 0px;
            gap: 12px;

            width: 114px;
            height: 24px;

            border: none;
            background: transparent;
            /* Inside auto layout */
            flex: none;
            order: 0;
            flex-grow: 0;            
        } 
        &>button:nth-child(2){
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 0px;
            gap: 12px;
            
            width: 175px;
            height: 24px;
            border: none;
            background: transparent;
            
            /* Inside auto layout */
            flex: none;
            order: 1;
            flex-grow: 0;            
        }   
        &>button:nth-child(3){
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 0px;
            gap: 12px;
            
            width: 175px;
            height: 24px;
            border: none;
            background: transparent;
            
            /* Inside auto layout */
            flex: none;
            order: 1;
            flex-grow: 0;            
        }   
        &>button:nth-child(3){
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 0px;
            gap: 12px;
            
            width: 175px;
            height: 24px;
            border: none;
            background: transparent;
            
            /* Inside auto layout */
            flex: none;
            order: 1;
            flex-grow: 0;            
        }  
        &>button:nth-child(4){
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 0px;
            gap: 12px;
            
            width: 175px;
            height: 24px;
            border: none;
            background: transparent;
            
            /* Inside auto layout */
            flex: none;
            order: 1;
            flex-grow: 0;            
        }   
        &>button:nth-child(5){
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 0px;
            gap: 12px;
            
            width: 175px;
            height: 24px;
            border: none;
            background: transparent;
            
            /* Inside auto layout */
            flex: none;
            order: 1;
            flex-grow: 0;            
        }                                
    }  
}